---

import Base from "../../layouts/Base.astro";

// const projects = await getProjects(6)

const title = "Ben Margolius • Resume";
---

<Base
  {title}
  description="Personal website and blog of Ben Margolius"
  image="https://og.nxl.sh/home"
>
  <h1 slot="header-content" class="text-neutral-500">
    Ben Margolius
  </h1>

  <main class="prose">
    <p>
      Hi I’m Ben Margolius, a Seattle-based Full Stack developer working primarily with React, Next.js and Typescript.
      <div class="my-4">
      I’m passionate about creating beautiful solutions that solve real problems. 
      <div class="my-4">
      I don’t just live inside my Text Editor - I go outside and talk to users. 
      <div class="my-4">

      I think outside-the-box to solve user problems, even if that solution doesn’t involve a single line of code.
    </p>

    <div class="my-4">Technologies I enjoy working with:</div>

    <div>
      <ul class="pl-4">
        <li>Typescript</li>
        <li>TailwindCSS</li>
        <li>Prisma/Drizzle</li>
        <li>tRPC</li>
        <li>React Query</li>
        <li>Supermaven</li>
        <li>SaaS: Vercel, Upstash, Supabase, Clerk, Sentry</li>
        <li>Next.js</li>
      </ul>
      <div class="mt-4">
      <a href="https://linkedIn.com/in/benmarg">LinkedIn</a> | <a href="https://github.com/benmarg">GitHub</a> | <a href="mailto:Benjaminmargolius@gmail.com">Benjaminmargolius@gmail.com</a>
      </div>
    </div>
    

    </div>
  </main>
</Base>
